@CHARSET "ISO-8859-1";
.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text { font: 12px sans-serif; }

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
	.node .doc {
	  background: url("/img/document.png") no-repeat;
	}
	.node .profile {
	  background: url("/img/logo.png") no-repeat;
	}
	.node .topic {
	  background: url("/img/genius.png") no-repeat;
	}